.header{
  display: flex;
  background-image: url(midas/truck.jpg);
  width: 100%;
  height: 100vh ;
}
.logo{
  margin-left: 15px;
}
.about{
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-left: 450 px;
  font-size: 16px;
  list-style: none;
  font-family: droid_sansregular;
  margin-left: 150px;
  color:white;
  
  
}
.infos{
  display: flex;
  float:right;
  justify-content: space-between;
}
.subinfo{
  padding: 15px 15px;
  font-family: 'Exo', sans-serif;
  color: #494949;
  font-size: 30;
  font-weight: 500;
  background-color: f4f4f4;
  margin-top: 55px;
}
.our-product{
  text-align: center;
}
h1{
  text-align: center;
  color:#272727;
  font-family: 'Exo', sans-serif;
  font-weight: 400;
}
h3{
  text-align: center;
  font-family: 'Exo', sans-serif;
}
.ours{
  width: 100%;
  background-image:url(midas/testibg.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
flex-direction: column;
margin-top: 25px;
display: flex;
align-items: center;
}

.subscribe{
  background-color:white;
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: row;

}
.ours-img{
  height: 300px;
  width: 250px;
  padding-left: 20px;
  padding-top: 20px;
}
.our-review{
  width: 60%;
  height: 70%;
  margin-left: 25px;
  font-family: 'Exo', sans-serif;
  color:#494949 ;
}
.agri-tyre{
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-left: 100px;
  align-items: center;
}
h1{
  color: white;
  font-family: 'Exo', sans-serif;
}
h4{
  color: white;
  font-family: 'Exo', sans-serif;

}
.footer{
  display: flex;
  justify-content: space-between;
  background-image: url(midas/footerbg.png);
  background-size: cover;
  height: 400px;
}
.footer-sub{
  display: flex;
  flex-direction:column;
}
.unstyle{
  list-style: none;
}
.cert{
  display: flex;
  flex-direction: column;
}